{% extends "layout.html" %}
{% load static %}
{% block title %}
Trang chủ
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
<main class="container">
	<div class="bg-light p-5 rounded">
		<h1>Chuyển đổi văn bản thành giọng nói</h1>
		<textarea placeholder="Nhập văn bản cần chuyển đổi" maxlength="2048" name="inputtext" id="inputtext"></textarea>
		<p>Hỗ trợ tối đa 2048 ký tự.</p>
		<button class="btn btn-lg btn-primary" id="convertBtn">Chuyển đổi</button>
		<br>
		<br>
		<audio controls id="audioPlayer"></audio>
	</div>
</main>

<script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}