{% extends "layout.html" %}
{% load static %}
{% block title %}
Trang chủ
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css"  href="{% static 'homepage.css' %}">  
<main class="container">
	<div class="bg-light p-5 rounded">
		<h1>Nhập văn bản muốn chuyển đổi</h1>
		<input class="rounded" type="text" id="input-text-area" style="width: 100%; height: 200px;" maxlength="2048">
		<p>Hỗ trợ tối đa 2048 ký tự.</p>
		<a class="btn btn-lg btn-primary" href="#" role="button">Chuyển đổi</a>

	</div>
</main>
{% endblock %}