{% extends "layout.html" %}
{% load static %}
{% block title %}
Nghe truyện
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nghetruyen.css' %}">
<main style="margin: 60px 10px 0px 10px">
	<nav class="navbar" id="menu">
		<div id="playbackSpeedControl">
			<h5 id="playbackSpeedLabel">Tốc độ</h5>
			<div>
				<button id="decreaseSpeedButton">-</button>
				<span id="currentSpeed">1.0</span>
				<button id="increaseSpeedButton">+</button>
			</div>
		</div>
		<button id="playAudioButton" onclick="playAudio()">Phát</button>
		<div class="loader" id="loader"></div>
		<audio controls id="audioPlayer"></audio>
		<button id="prev_chapter" onclick="updatePrevChapUrl()">Trước</button>
		<div id="chapterInfo" style="min-width: 500px;">
			Tên truyện: <span id="truyen_title"> </span>
			<br>
			Đang xem: <span id="chapter_title"></span>
			<br>
			Link: <input type="text" id="urlInput" placeholder="Dán link truyện vào đây">
		</div>
		<button id="next_chapter" onclick="updateNextChapUrl()">Sau</button>
	</nav>
	<div>
		<iframe src="" id="iframeTruyenfull" frameborder="0"
			sandbox="allow-scripts allow-same-origin"></iframe>
	</div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'js/nghetruyen.js' %}"></script>
{% endblock %}