<style>
	#playerControl {
		margin-bottom: 15px;
		font-size: 20px;
	}

	#playbackSpeedLabel {
		color: #690;
	}
	#playbackSpeedControl,
	#autoPlayControl,
	#audioPlayerControl {
		display: inline-flex;
		align-items: center;
		margin: auto;
		padding: 3px 5px 0px 5px;
	}
	#playbackSpeedControl{
		margin-bottom: 10px;
	}

	#decreaseSpeedButton,
	#increaseSpeedButton,
	#playAudioButton {
		background-color: #4CAF50;
		color: white;
		padding: 10px 15px;
		font-size: 18px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-weight: bold;
		margin: 1px 10px;
	}

	#autoPlay {
		margin-top: 3px;
		width: 125px;
		font-size: 18px;
		height: 35px;
		color: white;
		background-color: #4CAF50;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		border-radius: 5px;
	}

	#showSpeed {
		display: inline;
		margin: 0px 5px;
		font-weight: bold;
	}

	#playAudioButton,
	#pauseAudioButton {
		margin-left: 10px;

	}

	/* Hiển thị loading khi ấn phát */
	/* CSS cho biểu tượng loading */
	.loader {
		border: 5px solid #f3f3f3;
		border-radius: 50%;
		border-top: 5px solid #3498db;
		width: 50px;
		height: 50px;
		animation: spin 2s linear infinite;
		display: none;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
	#alertBox{
		background-color: yellow;
		position: fixed;
		top: 50%;
		left: 5%;
		right: 5%;
		padding: 10px;
		border: 1px solid black;
		border-radius: 5px;
		z-index: 9999;
		display: none;
	}
</style>
<nav id="playerControl" class="navbar">
	<div id="playbackSpeedControl">
		<button id="decreaseSpeedButton" onclick="decreaseSpeed()">&lt;&lt;</button>
		<div id="showSpeed">
			<span id="playbackSpeedLabel">Tốc độ:</span>
			<span id="currentSpeed">1.0</span>
		</div>
		<button id="increaseSpeedButton" onclick="increaseSpeed()">&gt;&gt;</button>
		<button id="playAudioButton" onclick="playAudio()">&nbsp;Phát&nbsp;</button>
		<div class="loader" id="loader"></div>
	</div>
	<br>
	<div id="audioPlayerControl">
		<audio controls id="audioPlayer" autoplay></audio>
	</div>
	<br>
	<div id="autoPlayControl">
		<span style="margin-right: 5px;">Tự động phát:&nbsp;</span>
		<select name="autoPlay" id="autoPlay">
			<option value="-1" selected>Bật</option>
			<option value="0">Tạm dừng</option>
			<option value="1">1 Chương</option>
			<option value="2">2 Chương</option>
			<option value="3">3 Chương</option>
			<option value="4">4 Chương</option>
			<option value="5">5 Chương</option>
			<option value="6">6 Chương</option>
			<option value="7">7 Chương</option>
			<option value="8">8 Chương</option>
			<option value="9">9 Chương</option>
			<option value="10">10 Chương</option>
		</select>
		<!-- <input type="checkbox" id="autoPlay" checked> -->
	</div>
</nav>


<div id="alertBox">
	<p style='text-align: center; font-size: 25px;'>Trên điện thoại, vì tính năng 'Tiết kiệm pin' được tự động BẬT đối
		với trình duyệt nên việc tự động chuyển chương có thể bị ngắt quãng. Nếu nó xảy ra, bạn vui lòng vào ứng dụng
		Cài đặt ở mục 'Tiết kiệm pin' và TẮT đối với trình duyệt.
		<br> 
		<span style='color: royalblue;'>(Bấm để ẩn)</span></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>