<style>
	#playerControl {
		margin-bottom: 15px;
		font-size: 20px;
	}

	#playbackSpeedLabel {
		color: #690;
	}

	#playbackSpeedControl,
	#currentSpeed,
	#playbackSpeedLabel,
	#playAudioButton {
		margin: 5px 0px;
	}

	#decreaseSpeedButton,
	#increaseSpeedButton,
	#playAudioButton {
		background-color: #4CAF50;
		color: white;
		padding: 10px 15px;
		font-size: 18px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-weight: bold;
	}

	#autoPlay {
		margin-top: 3px;
		width: 25px;
		height: 25px;
	}
 
	#showSpeed {
		display: inline;
		margin: 0px 5px;
		font-weight: bold;
	}
	#playAudioButton{
		margin-left: 10px;
	}
</style>
<nav id="playerControl" class="navbar">
	<div id="playbackSpeedControl">
		<button id="decreaseSpeedButton" onclick="decreaseSpeed()">&lt;&lt;</button>
		<div id="showSpeed">
			<span id="playbackSpeedLabel">Tốc độ:</span>
			<span id="currentSpeed">1.0</span>
		</div>
		<button id="increaseSpeedButton" onclick="increaseSpeed()">&gt;&gt;</button>
		<button id="playAudioButton" onclick="playAudio()">&nbsp;Phát&nbsp;</button>
		<div class="loader" id="loader"></div>
		<audio controls id="audioPlayer"></audio>
	</div>
	<div style="display: inline-flex; align-items: center;">
		<span style="margin-right: 5px;">Tự động phát chương tiếp theo&nbsp;</span>
		<input type="checkbox" id="autoPlay" checked>
	</div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>